@font-face {
  font-family: "Uni Sans";
  src: url("/fonts/uni-sans.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-primary: #111111;
  --color-secondary: #fafafa;

  /* Configuration des polices */
  --font-uni-sans: "Uni Sans", sans-serif;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
}

@layer base {
  body {
    @apply bg-secondary text-primary font-ibm-plex-mono tracking-[2px];
    width: 100%;
    overflow-x: hidden;
  }
  main {
    @apply overflow-hidden;
  }
  h1 {
    font-size: clamp(2rem, 1.5vw + 1.5rem, 7rem);
    letter-spacing: clamp(1px, 0.15vw, 3px);
    line-height: normal;
    @apply font-uni-sans uppercase;
  }
  h2 {
    font-size: clamp(1.5rem, 1.2vw + 1.2rem, 5.5rem);
    letter-spacing: clamp(1px, 0.15vw, 3px);
    line-height: normal;
    @apply font-uni-sans uppercase;
  }

  h3 {
    font-size: clamp(1rem, 0.8vw + 0.8rem, 2.5rem);
    @apply uppercase;
  }

  p {
    font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1.25rem);
    line-height: clamp(1.4, 0.1vw + 1.35, 1.6);
  }

  .btn {
    font-size: clamp(0.875rem, 0.4vw + 0.75rem, 1.5rem);
    padding: clamp(0.75rem, 0.5vw + 0.5rem, 1rem)
      clamp(1.5rem, 1vw + 1rem, 3rem);
    @apply uppercase text-secondary bg-primary rounded-4xl duration-300 transition border border-transparent;
  }

  .btn:hover {
    @apply bg-secondary text-primary border border-primary;
  }

  nav,
  .header-text {
    font-size: clamp(1.2rem, 0.8vw + 1rem, 2rem);
    font-weight: 250;
    @apply uppercase text-center;
  }

  section {
    font-size: clamp(0.875rem, 0.4vw + 0.75rem, 1.5rem);
    @apply px-8 md:px-12 lg:px-20 2xl:px-32 pt-12 md:pt-16 lg:pt-20 2xl:pt-24;
  }

  .black-section {
    @apply bg-primary text-secondary relative px-8 md:px-12 lg:px-20 2xl:px-32;
  }

  .text-content {
    @apply flex flex-col mt-10 gap-4 md:gap-6 lg:gap-8 2xl:gap-10;
  }

  .btn-wrapper {
    @apply flex justify-center my-12 md:my-16 lg:my-20 2xl:my-28;
  }

  .ul-flex {
    @apply flex flex-col items-center md:flex-row md:flex-wrap md:justify-center;
    @apply my-8 md:my-12 lg:my-16 2xl:my-24;
    @apply gap-12 md:gap-10 lg:gap-10 2xl:gap-32;
  }

  .btn-white {
    font-size: clamp(0.875rem, 0.4vw + 0.75rem, 1.5rem);
    padding: clamp(0.75rem, 0.5vw + 0.5rem, 1.25rem)
      clamp(1.5rem, 1vw + 1rem, 3rem);
    @apply uppercase text-primary bg-secondary rounded-4xl duration-300 transition border border-transparent;
  }

  .btn-white:hover {
    @apply bg-primary text-secondary border border-secondary;
  }
}
