---
import BlobDynamic from '../ui/BlobDynamic.astro';
const { artiste, urlAvatar } = Astro.props;

---
<a href="" class="w-68 h-68 md:w-76 md:h-76 lg:w-84 lg:h-84 xl:w-90 xl:h-90 bg-secondary flex flex-col items-center gap-4  shadow-md rounded-md hover:scale-102 transition-transform p-4 text-center">
    <div class="w-56 mt-2">
        <BlobDynamic imageUrl={urlAvatar}  variant={1} />
    </div>
    <h3 class="">{artiste.name}</h3>
</a>