---
import BlobDynamic from '../ui/BlobDynamic.astro';
---

<div class="flex flex-col justify-center items-center py-20 ">
	<div class="w-44 mx-auto">
		<BlobDynamic color="#000000" variant={1} />
	</div>
				
	<p class="text-center font-semibold mt-6">Contactez-nous via notre formulaire</p>
	<div class="btn-wrapper">
		<a href="/contact" class="btn text-center px-4">Nous contacter</a>
	</div>
</div>